.corpo {
    background-image: url("./suporte_TI-2.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: auto;
    height: 729px;
    opacity: 0.15;
}

.back-ground {
    background-color: azure;
}